@import "style_learn.css";

h1, h2, h3 {
	text-align: center;
	font-family: Arial, sans-serif;
	color: #4f4f4f;
}

h1>span {
	color: #d9411e;
}

.center {
	margin: 0 auto;
	width: 200px;
}

#outer-div {
	width: 100%;
	text-align: center;
}

#inner-div {
	display: inline-block;
	margin: 0 auto;
}